{% extends 'base.html' %}

{% block con %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to STUDY MATES 👏🏻</h1>
            <p class="col-md-8 fs-4">다양한 분야의 성장을 추구하는 사람들을 위한 서비스</p>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-dark mb-3">
                <div class="card-header">서비스 소개</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">STUDY MATES</h5>
                    <p class="card-text">STUDY MATES는 사용자들이 각자의 관심사나 목표를 공유하고, 다양한 분야의 그룹 스터디를 구성해 참여할 수 있도록 돕기 위해 만들어진 서비스입니다.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-primary mb-3">
                <div class="card-header">회사 소개</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">TEAM Study Mates</h5>
                    <p class="card-text">대표: 김어진 <br> 사업자 등록번호: 123-45-67890 <br> 회사 주소: 서울특별시 성북구 정릉로 77</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-dark mb-3">
                <div class="card-header">광고상품 소개</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">광고상품 게재</h5>
                    <p class="card-text">광고상품은 메인배너, JOIN 게시판 하단 등에 배치되어 있습니다. 광고 문의 혹은 이외 문의 사항이 있을 경우 이메일로 보내주세요!</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-primary mb-3">
                <div class="card-header">서비스 이용약관</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">이용약관</h5>
                    <p class="card-text">본 약관은 TEAM Study Mates(이하 "회사")와 서비스 이용자간의 이용 계약 관련 규정을 정하는 것을 목적으로 합니다.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-dark mb-3">
                <div class="card-header">개인정보 처리방침</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">공지사항</h5>
                    <p class="card-text">TEAM Study Mates(이하 당사)는 개인정보보호법 등 관련 법령상의 개인정보 보호규정을 준수하며, 이용자의 개인정보를 소중하게 생각하고 있습니다.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-primary mb-3">
                <div class="card-header">Contact</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">고객센터</h5>
                    <p class="card-text">전화: 1234-5678 (24시간 연중무휴) <br> 이메일(고객전용) support@studymates.im <br> 고객센터: 서울특별시 성북구 정릉로 77</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}